<section id="contact">
  <mat-card class="contact">
    <h2>Contact Us</h2>
    <mat-divider></mat-divider>
    <p>Email: contact&#64;houseofroyalty.com</p>
    <p>Phone: (689)258-1525</p>
    <div class="social-buttons">
      <a mat-icon-button color="primary" href="https://instagram.com/" target="_blank" aria-label="Instagram">
        <img src="/assets/instagram.png" alt="Instagram" width="24" height="24" />
      </a>
      <a mat-icon-button color="primary" href="https://facebook.com/" target="_blank" aria-label="Facebook">
        <img src="/assets/facebook.png" alt="Facebook" width="24" height="24" />
      </a>
      <a mat-icon-button color="primary" href="https://twitter.com/" target="_blank" aria-label="Twitter">
        <img src="/assets/twitter.png" alt="Twitter" width="24" height="24" />
      </a>
      <a mat-icon-button color="primary" href="https://linkedin.com/" target="_blank" aria-label="LinkedIn">
        <img src="/assets/linkedin.png" alt="LinkedIn" width="24" height="24" />
      </a>
    </div>
  </mat-card>
  
</section>