.about {
  padding: 3rem 2rem;
  text-align: center;
  //background-color: #f8f8f8;

  .slogan {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .desc {
    font-size: 1rem;
    color: #666;
  }
}
